<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listas</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">

    <link rel="stylesheet" href="/css/Productos.css">
    <link rel="stylesheet" href="/css/styles.css">

</head>

<%- include("../partials/head/header.ejs") %>
<body>
    <br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br>
    <br>
    <br>
        
    <main>
    <h1>Usuarios que coinciden con tu busqueda</h1>

    <ul>
        <% for (let i = 0; i < resultado.length; i++) {  %>
            <li>
                <div class="listas">
                        <img class="imagen-user" src="/img/<%= users[i].picture %> " alt="<%= users.nombre %>">  
                        
                    <div class="info-usuarios" >
                        
                        <p> Id : <%= users[i].id %></p>
                        
                        <p>Nombre:   <%= users[i].nombre %> </p>
                        <p>Username:  <%= users[i].nombreUsuario  %> </p>
                        <p>Correo:  <%= users[i].correo %>  </p>
                        <p>Fecha de Nacimiento  <%= users[i].fecha  %> </p>
                        <p>Dirección: <%= users[i].Domicilio %> </p>
                        <p>Perfil de usuario:  <%= users[i].preferencia %> </p>
                        <p>Intereses:  <%= users[i].Intereses %> </p>
                        <a href="detail/<%= users.id %>" class="btn btn-outline-primary btn-block"> Ver más ...</a>
                        
                    </div>
                    
                </div>
                
                

            </li>
            <% } %>
    </ul>
    <br>
    <br>
</main>
   
    <footer>
        <%- include("../partials/footer/footer.ejs") %>  
    </footer>
</body>



</html>