<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register MercadoLiebre</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
</head>
<body>
 <%- include("../partials/head/header.ejs") %>
    <main class="main-login">
        <form action="/users/Usuarios/login" method="post" class="login-form" >
        
            <div class="control-formulario">
                <label for="Correo">Correo Electr칩nico</label>
                    <input 
                        type="email"
                        name="Correo" id="Correo" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" 
                        minlength="8" placeholder="abcd@efg.com" 
                        class=" control <%= locals.errors && errors.Correo ? 'is-invalid' : null %>"
                        value="<%= locals.old ? old.Correo : null %> " 
                    >
                 <% if(locals.errors && errors.Correo) {  %>
                        
                    <div class="error-form"> 
                        <%= errors.Correo.msg %> 
                     </div>
                    <% } %>
              </div> 
            
              <div class="control-formulario">
                <label for="contrase침a">contrase침a</label> 
                    <input 
                        type="password" name="contra" id="contra" 
                        minlength="10" placeholder="Elige tu Contrase침a" 
                        class=" <%= locals.errors && errors.contra ? 'is-invalid control' : 'control' %>" 
                    >
                <% if(locals.errors && errors.contra) {  %>
                            
                    <div class="error-form"> 
                         <%= errors.contra.msg %>  
                    </div>
                 <% } %>
              </div> 
              
              
              <label for="recordame" class="control">Recuerdame </label>
              <input type="checkbox" name="recordame">
                <div class="botoncitos">
                    
                    <button type="submit" class="boton-formulario">Enviar</button >
                </div>

        </form>
    </main>

    <footer>
        <%- include("../partials/footer/footer.ejs") %>
    </footer>
</body>

</html>